html,body{
    width: 100%;
    height: 100%;
}
body{
	margin: 0;
	line-height: 1.6em;
	font-size: 18px;

	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
}
h1,h2,h3{
	line-height:1.2em;
}
input{
	width:100%;
}
a{
	color: #58a6da;
}
b{
  font-weight: bold;
}

/*****************************

SPLASH SCREENS

******************************/

#intro{
	background-image: url(splash/intro.png);
	background-repeat:no-repeat;
	background-position: center center;
	background-size: 700px 700px; 

	text-align: center;
}
#survey_embed{
  margin-top: 10px;
  background: rgba(0,0,0,0.1);
  background-image: url(splash/survey.png);
  background-size: 600px auto;
}

/*****************************

THE STATS

******************************/

#stats{
	margin: 60px auto 200px auto;
	width: 600px;
	display: none;
}

.question{
	overflow: hidden;
	margin-bottom: 10px;
}
.question img, .question div{
	display: block;
	float: left;
} 
.question img{
	width: 150px;
	height: 150px;
}
.question div{
	width: 430px;
	margin-left: 20px;
	font-size: 1.5em;
    line-height: 1.3em;
}
#stats > div{
	margin-bottom: 3.0em;
}
.fade{
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.answer_label b{
	color: #58a6da;
}

.answer_button{
	font-size: 1.5em;
    width: 170px;
    margin: 0 auto;
    padding: 10px;
    background: #58a6da;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    border-bottom: 3px solid rgba(0,0,0,0.2);
    margin-top: 10px;

    cursor: pointer;
    position: relative;
    top:0;
    transition: top 0.1s;
}
.answer_button:hover{
	top:-3px;
}
.answer_button[disabled=yes]{
	opacity: 0.4;
	pointer-events: none;
}
.answer_button.the_end{
	font-size: 2em;
    width: 240px;
    margin: 0 auto;
    padding: 20px;
}

.footnote{
	font-size: 0.9em;
	text-align: right;
}
.instruction{
  font-size: 0.9em;
  text-align: center;
}

/*****************************

FULL SCREEN THING 

******************************/

.fadeable{
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.fullscreen{

	background: #58a6da;
	color: #000;
	font-size: 24px;
	line-height: 1.5em;

	width: 100%;
	min-height: 100%;
	display: none;
	overflow: hidden;
}
.fullscreen > div{
	width: 600px;
	margin: 50px auto;
}

.white_button{
	font-size: 35px;
    width: 200px;
    margin: 0 auto;
    padding: 15px;
    background: #fff;
    text-align: center;
    color: #58a6da;
    border-radius: 10px;
    border-bottom: 3px solid rgba(0,0,0,0.2);
    margin-top: 10px;

    cursor: pointer;
    position: relative;
    top:0;
    transition: top 0.1s;
}
.white_button:hover{
	top:-3px;
}

#intro{
	display: block;
}

/*****************************

Styled Slider, thanks to Daniel Stern!
http://danielstern.ca/range.css/?ref=css-tricks#/

*****************************/

div[slider=yes]{
	position: relative;
	width:600px;
	height: 54px;
}
div[slider=yes] > div{
	position: absolute;
	width:50px;
	height: 40px;
	background: #bada55;
	top: 7px;
	opacity: 0.5;
	pointer-events:none;
}
div[slider=yes] > input{
	position: absolute;
}
div[slider=yes] > span{
	display: block;
	position: absolute;
	width: 40px;
    font-size: 15px;
    top: -17px;
}

input[disabled]{
	pointer-events: none;
	cursor: default;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 40px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 40px;
  width: 20px;
  border-radius: 10px;
  background: #333333;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(0, 0, 0, 0.06);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 40px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 40px;
  width: 20px;
  border-radius: 10px;
  background: #333333;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.06);
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 20px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.06);
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 20px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  width: 20px;
  border-radius: 10px;
  background: #333333;
  cursor: pointer;
  height: 40px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.06);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.06);
}


input[type=range].answer_slider::-webkit-slider-thumb {
  background: #58a6da;
}
input[type=range].answer_slider::-moz-range-thumb {
	background: #58a6da;
}
input[type=range].answer_slider::-ms-thumb {
	background: #58a6da;
}
